body {
  background: #f6f5ed;
}
/*共通(トップメニュー)*/
.toptitle {
  font-size: 20px;
  background-color: #503f2f;
  padding: 15px;
  margin: 1px 1px;
  font-family: 'Noto Serif JP', sans-serif;
}
.toptitle a {
  text-decoration: none;
  color: #ffffff;
}
.hr1 {
  height: 3px;
  background: linear-gradient(to right, #ffeed7, #8d714c, #ffeed7);
  border: none;
}
/*サブタイトル指定*/
.ramen-icon {
  text-align: center;
}
.ramen-icon img{
  text-align: center;
  height: 60px;
  width: 60px;
}
.subtitle {
  font-size: 20px;
  text-align: center;
  color: #503f2f;
  margin: 5px 0 0 0;
  letter-spacing: 5px;
}
/*マップ自体*/
#map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid #503f2f;
}
/*下に出てくるラーメンボックス*/
#info {
  display: none;
  margin: 30px 0 0 0;
}

@media (max-width: 992px) {
  .bottom-menu,.flex {
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  }
}

/*それぞれのラーメンボックスの詳細指定ここから*/
.flex {
  display: flex;
  border: 2px solid #503f2f;
  background: #ffffff;
}
.flex .image {
  width: 250px;
  margin: 0;
  padding: 0;
}
.flex .image img {
  width: 100%;
  height: auto;
  margin: 10px 10px 0 10px;
  border: 1.5px solid #503f2f;
}
.flex .image p {
  text-align: center;
  margin:0 0 10px 20px;
  font-size: 13px;
  color: #5f5f5f;
}
.flex .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 20px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  color:#503f2f;
}
.flex .text {
  margin: 15px 10px 0 10px;
  padding: 0;
  font-size: clamp(14px,1.5vw,16px);
}
.flex .information {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  font-size: clamp(12px,1.5vw,15px);
  background: #edf3f8;
  width: fit-content;
  border-left: 8px solid #488ec4;
}
.flex .information a:hover{
  opacity: 0.5;
}

@media (max-width: 992px) {
  .flex {
	flex-direction: column;
	align-items: center;
  }
  .flex .image img {
	margin: 10px 10px 0 0;
  }
  .image {
	align-items: center;
	text-align: center;
  }
}


/*目標地点の文字装飾*/
.building-tooltip {
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
}


/*共通(ボトムメニュー)*/
.bottom-menu {
  display: flex;
  justify-content: center;
  background: #503f2f;
}
.bottom-menu-contents {
  margin: 20px 50px 5px 50px;
  padding: 20px 0 10px 0;
}
.bottom-menu-contents p {
  color: #f6f5ed;
  font-size: clamp(14px,1.5vw,15px);
}
.bottom-menu-contents a {
  color: #f6f5ed;
  text-decoration: none;
}
.bottom-menu-contents a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 992px) { /*スマホの場合はタテ並びにする*/
  .bottom-menu {
    display: block;
  }
}